<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://code.alibabatech.com/schema/dubbo
       	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       	
	<context:annotation-config />
	
	<!-- JavaConfig方式的Spring配置类（与SpringMVC配置文件中的配置二选一即可）
	<bean id="thymeleafConfig" class="cn.hankchan.thymeleaf.config.ThymeleafConfig"/>
	 -->
</beans>